<div class="card h-100 shadow-sm">
  <div class="card-body">
    <h3 class="card-title">
      {{ artisan.name }}
    </h3>

    <h5 class="artisan-specialty">
      {{ artisan.specialty }}
    </h5>

    <p class="artisan-location">
      📍 {{ artisan.location }}
    </p>

    <app-rating
      [rating]="+artisan.note">
    </app-rating>

    <p class="artisan-description mt-3">
      {{ artisan.about }}
    </p>
  </div>

  <div class="card-footer border-0">
    <a
      class="btn btn-primary w-100"
      [routerLink]="['/artisan', artisan.id]">
      Voir le profil
    </a>
  </div>
</div>