/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: 'Graphik';
  src: url('/fonts/Graphik-Regular-Trial.otf') format('opentype');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Graphik';
  src: url('/fonts/Graphik-Medium-Trial.otf') format('opentype');
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'Graphik';
  src: url('/fonts/Graphik-Bold-Trial.otf') format('opentype');
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

:root {
  --color-background-light: #f1f8fc;
  --color-primary: #0074c7;
  --color-primary-dark: #00497c;
  --color-text: #384050;
  --color-danger: #cd2c2e;
  --color-success: #82b864;
  --color-white: #ffffff;
  --color-rating: #f1c40f;
}

html,
body {
  font-family: 'Graphik', Arial, sans-serif;
  color: var(--color-text);
  background-color: var(--color-white);
}

button,
input,
textarea,
select {
  font: inherit;
}

.btn-primary {
  --bs-btn-color: var(--color-white);
  --bs-btn-bg: var(--color-primary);
  --bs-btn-border-color: var(--color-primary);

  --bs-btn-hover-color: var(--color-white);
  --bs-btn-hover-bg: var(--color-primary-dark);
  --bs-btn-hover-border-color: var(--color-primary-dark);

  --bs-btn-focus-shadow-rgb: 0, 116, 199;

  --bs-btn-active-color: var(--color-white);
  --bs-btn-active-bg: var(--color-primary-dark);
  --bs-btn-active-border-color: var(--color-primary-dark);

  --bs-btn-disabled-color: var(--color-white);
  --bs-btn-disabled-bg: var(--color-primary);
  --bs-btn-disabled-border-color: var(--color-primary);
}