.featured-artisans {
  padding: 5rem 0;
  background-color: var(--color-background-light);
}

.featured-artisans h2 {
  color: var(--color-primary-dark);
  font-weight: 700;
}

.featured-artisans p {
  color: var(--color-text);
}